<h1>Flights#index</h1>


<%= form_tag("/flights/index", method: "get") do %>
	<%= select_tag(:from_airport, options_for_select(@from_options)) %>
	<%= select_tag(:to_airport, options_for_select(@to_options)) %>
	<%= select_tag(:date, options_for_select(@date_options)) %>
	<%= submit_tag('Search') %>
<% end %>

Your possible flights are: <br>
<% if !@search_results.empty? %>
	<%= form_tag("/bookings/new", method: "get") do %>
		<% @search_results.each do |f| %>
			<%= radio_button_tag(:flight, f.id) %>
			Flight #<%= f.id %> will go from <%= f.from_airport.code %> to <%= f.to_airport.code %> and will take <%= label_tag(:flight, f.duration) %> hour(s).<br>
		<% end %>
		<br>
		Select number of passengers:
		<%= select_tag(:passengers, options_for_select(@passenger_options)) %>
		<%= submit_tag('Select') %>
	<% end %>
<% else %>
	No flights selected.
<% end %>
